body{
    background-color: #efefef;
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.container{
    padding-top: 5em;
}
.redmine-input{
    height: 5em;
}
.redmine-grid{
    padding-top: 1em;
}
.loading-data{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.65;
    z-index: 1000;
    position: absolute;
}
.loading-text{
    text-align: center;
    color: #fff;
    font-size: 5em;
    margin-top: 400px;
}





span.spacing{
    margin-right: 10px;
}
input.custom-width{
    width: 200px;
}
input.spacing{
    margin-right: 5px;
}


input {
    /*background-color: #1D1F20;*/
    margin: 20px 0;
    border-radius: 5px;
}

.nav-tabs>li>a:hover {
    cursor: pointer;
    background: white;
}

.img-thumbnail {
    width: 200px;
}

.label {
    font-size: 0.5em;
}
